<template>
    <div class=" content content-article">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6  mb-4">
                    <div class=" author-block">
                        <img v-if="authorFormated.avatar" class="author-avatar" :src="authorFormated.avatar">
                        <img v-else class="author-avatar" :src="iconsAvatarUrl">

                        <div class="author-header">{{authorFormated.name}}</div>
                        <div class="author-description-short">{{authorFormated.description_short}}</div>
                        <div class="author-description-long">{{authorFormated.description_long}}</div>

                    </div>
                </div>
                <div class="col-12 col-md-6  mb-4">
                    <div class="author-block"  v-if="!showSuccess">
                        <div class="author-header align-self-start">Ask expert</div>
                        <div class="author-formfield-wrapper">
                            <input class="subscribe-field" v-bind:class="{error : nameError}" type="text" v-model="name" placeholder="Name">
                            <div class="author-formerror">{{nameError}}</div>
                        </div>
                        <div class="author-formfield-wrapper">
                            <input class="subscribe-field" v-bind:class="{error : emailError}" type="text" v-model="email" placeholder="Email">
                            <div class="author-formerror">{{emailError}}</div>
                        </div>
                        <div class="author-formfield-wrapper">
                            <input class="subscribe-field" v-bind:class="{error : messageError}" type="text" v-model="message" placeholder="Your question">
                            <div class="author-formerror">{{messageError}}</div>
                        </div>

                        <button class="project-modal-subscribe" v-bind:disabled="!btnActive" v-on:click="submitQuestion">
                            <div v-if="loaderisVisible" class="spinner-grow text-light" role="status" style="position:absolute; left:10%; top: 20%;">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span>Send</span>
                        </button>
                    </div>
                    <div class="author-block  d-flex flex-column align-items-center justify-content-center" v-if="showSuccess">
                        <div class="author-header align-self-start">Success!  Wait for an answer.</div>
                    </div>
                </div>
            </div>
            <div class="row author-middlesection">
                <div class="col-12 d-flex">
                    <div class="author-header">Articles</div>
                </div>
            </div>
            <div class="row mb-5">
                        <div
                            class="col-12 col-sm-6 col-md-4"
                            v-for="(post, index) in postsFormated"
                            :key="`${index}-${post.id}`"


                        >
                            <a class="article-item"
                                v-bind:href="setLink(post)"
                            >
                                <div class="article-item-container">
                                    <div class="article-item-video" v-if="post.hasVideo"></div>
                                    <img class="article-item-image" v-bind:src="post.image">
                                </div>

                                <div class="article-item-header" >{{post.title}}</div>
                                <div class="article-item-tags" >
                                    <span
                                        v-for="(tag,index) in post.tags"
                                        :key="`${index}-${tag.id}`"
                                    >
                                        #{{tag.name}}
                                    </span>
                                </div>
                                <div class="article-item-info">
                                    <div class="banner-info-item">{{post.published_at}}</div>
                                    <div class="banner-info-item" >
                                          <img class="banner-info-icon" width="15px" v-bind:src="iconsHeartUrl">
                                          <div>{{post.likes}}</div>
                                    </div>
                                    <div class="banner-info-item" >
                                          <img class="banner-info-icon" width="20px" v-bind:src="iconsViewUrl">
                                          <div>{{post.views}}</div>
                                    </div>
                                    <div class="banner-info-item" v-show="post.author_id">
                                          <img class="banner-info-icon" width="16px" v-bind:src="iconsCommentUrl">
                                          <div>{{post.comments_count}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>

            </div>


        </div>

    </div>
</template>

<script>
    import mixin_1 from "./mixins/mixin_1"

    export default {
          mixins: [mixin_1],
         props: [
             'author',
             'iconsAvatarUrl',
             'posts',
             'iconsHeartUrl',
             'iconsViewUrl',
             'iconsCommentUrl',

         ],
         data: function () {
             return {
                 name: '',
                 email: '',
                 message: '',
                 nameError: '',
                 emailError: '',
                 messageError: '',
                 nameValidated: false,
                 emailValidated: false,
                 messageValidated: false,
                 loaderisVisible: false,
                 showSuccess:false,
                 postsFormated:null,
                 authorFormated:null,
                 url:"/api/askquestion",
             }
         },
         created: function(){
             this.postsFormated = this.postFormater(this.posts)
             this.authorFormated = this.authorFormater(this.author)
         },
         mounted: function(){
             this.$emit('pageloaded');
         },
         computed: {
             btnActive:function(){
                 if (this.nameValidated && this.emailValidated && this.messageValidated){
                     return true
                 }else{
                     return false
                 }
             },
         },
         methods:{
             authorFormater:function(item){
                 if (item.avatar !== ''){
                     item.avatar = window.location.protocol + '//' +  window.location.host + '/storage/' + item.avatar;
                 }
                 return item
             },
             submitQuestion:function(){
                 axios({
                     method: 'post',
                     url: this.url,
                     data: {
                         name: this.name,
                         email: this.email,
                         message: this.message,
                     },
                 })
                 .then(response => {
                     this.showSuccess = true
                 })
                 .catch(response => {
                     console.log('error!');
                 })
             },
             validateName:function(name){
                 if (this.name.length>1){
                     return (true)
                 }
                 return (false)
             },
             validateEmail:function(mail){
                 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)){
                     return (true)
                 }
                 return (false)
             },
             validateMessage:function(message){
                 if (this.message.length>5){
                     return (true)
                 }
                 return (false)
             },
         },
         watch:{
             name:_.debounce(function(newValue, oldValue){
                 if(!this.validateName(newValue)){
                     this.nameError = "Put your name!"
                     this.nameValidated = false
                 } else{
                     this.nameError = ''
                     this.nameValidated = true
                 }
                 console.log(this.nameError)
             }, 500),
             email:_.debounce(function(newValue, oldValue){
                 if(!this.validateEmail(newValue)){
                     this.emailError = "Wrong email!"
                     this.emailValidated = false
                 } else{
                     this.emailError = ''
                     this.emailValidated = true
                 }
             }, 500),
             message:_.debounce(function(newValue, oldValue){
                 if(!this.validateMessage(newValue)){
                     this.messageError = "Ask question!"
                     this.messageValidated = false
                 } else{
                     this.messageError = ''
                     this.messageValidated = true
                 }
             }, 500),
         }
     }
</script>
