<template>
    <div>
        <div class=" content">
            <div class="container">


                <!-- BANNER  -->
                <banners
                    v-on:banner-loaded="bannerLoading = false"
                    v-bind:icons-heart-white-url='iconsHeartWhiteUrl'
                    v-bind:icons-view-white-url='iconsViewWhiteUrl'
                    v-bind:icons-comment-white-url='iconsCommentWhiteUrl'
                    v-bind:icons-link-url='iconsLinkUrl'
                    v-bind:show-city="showCity"
                ></banners>

                <section class="row d-none d-sm-block" v-if="showCity">
                    <div class="col-12">
                        <div class="city-item" style="position:relative;">
                            <img class=" city-image" :src="cityUrl">

                            <dot v-on:city-filter="cityFilter" :name="'Транспорт1'" :orientation="'right'" :className="'city-dot-1'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт2'" :orientation="'right'" :className="'city-dot-2'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт3'" :orientation="'right'" :className="'city-dot-3'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт4'" :orientation="'right'" :className="'city-dot-4'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт5'" :orientation="'right'" :className="'city-dot-5'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт6'" :orientation="'left'" :className="'city-dot-6'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт7'" :orientation="'left'" :className="'city-dot-7'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт8'" :orientation="'left'" :className="'city-dot-8'" :city-dot-url="cityDotUrl"></dot>
                            <dot v-on:city-filter="cityFilter" :name="'Транспорт9'" :orientation="'left'" :className="'city-dot-9'" :city-dot-url="cityDotUrl"></dot>





                        </div>
                    </div>
                </section>


                <!-- FILTER BTN  -->
                <section class="row d-md-none d-lg-none d-xl-none mb-4">
                    <div class="col-12">
                        <div class="filter-button" v-on:click="showFilter = !showFilter">
                            <img :src="iconsFilterUrl">
                        </div>
                    </div>
                </section>

                <!-- CONTENT  -->
                <section class="row">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-md-block">
                            <left-filter
                                v-bind:categories='categories'
                                v-bind:industries='industries'
                                v-bind:hasChildren='hasChildren'
                                v-bind:filterquery-param-filter.sync='filterqueryParamFilter'
                                v-bind:freshCounter='freshCounter'
                                v-on:setactive='setActive'

                                v-bind:icons-articles-url='iconsArticlesUrl'
                                v-bind:icons-star-url='iconsStarUrl'
                                v-bind:icons-new-url='iconsNewUrl'
                                v-bind:icons-news-url='iconsNewsUrl'
                                v-bind:icons-lamp-url='iconsLampUrl'
                            ></left-filter>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-8  col-12">
                            <div class="card-columns">
                                <div
                                    class="card"
                                    v-for="(post, index) in posts"
                                    :key="`${index}-${post.id}`"


                                >
                                    <a class="article-item"
                                        v-bind:href="setLink(post)"
                                    >
                                        <div class="article-item-container">
                                            <div class="article-item-video" v-if="post.hasVideo"></div>
                                            <img class="article-item-image" v-bind:src="post.image">
                                        </div>

                                        <div class="article-item-header" >{{post.title}}</div>
                                        <div class="article-item-tags" >
                                            <span
                                                v-for="(tag,index) in post.tags"
                                                :key="`${index}-${tag.id}`"
                                            >
                                                #{{tag.name}}
                                            </span>
                                        </div>
                                        <div class="article-item-info">
                                            <div class="banner-info-item">{{post.published_at}}</div>
                                            <div class="banner-info-item" >
                                                  <img class="banner-info-icon" width="15px" v-bind:src="iconsHeartUrl">
                                                  <div>{{post.likes}}</div>
                                            </div>
                                            <div class="banner-info-item" >
                                                  <img class="banner-info-icon" width="20px" v-bind:src="iconsViewUrl">
                                                  <div>{{post.views}}</div>
                                            </div>
                                            <div class="banner-info-item" v-show="post.author_id">
                                                  <img class="banner-info-icon" width="16px" v-bind:src="iconsCommentUrl">
                                                  <div>{{post.comments_count}}</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="loader-local" v-show="postLoading">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>

                </section>


            </div>
        </div>

        <!-- FILTER OPEN  -->
        <transition  name="fadex">
            <section class="row d-md-none d-lg-none d-xl-none filter-menu" v-if="showFilter">
                <div class="col">
                        <div class="filter-menu-bg"  v-on:click="showFilter = !showFilter"></div>
                        <div class="row">
                            <div class="col-sm-6 col-9">
                                <div class="filter-menu-container">
                                    <div class="filter-menu-button" v-on:click="showFilter = !showFilter">
                                        <img v-bind:src="iconsCloseUrl">
                                    </div>
                                    <left-filter
                                        v-bind:categories='categories'
                                        v-bind:industries='industries'
                                        v-bind:hasChildren='hasChildren'
                                        v-bind:filterquery-param-filter.sync='filterqueryParamFilter'
                                        v-bind:freshCounter='freshCounter'
                                        v-on:setactive='setActive'

                                        v-bind:icons-articles-url='iconsArticlesUrl'
                                        v-bind:icons-star-url='iconsStarUrl'
                                        v-bind:icons-new-url='iconsNewUrl'
                                        v-bind:icons-news-url='iconsNewsUrl'
                                        v-bind:icons-lamp-url='iconsLampUrl'
                                    ></left-filter>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        </transition>
    </div>
</template>

<script>


    import mixin_1 from "./mixins/mixin_1"

    export default {
          mixins: [mixin_1],
          props: [
              'iconsFilterUrl',
              'iconsHeartUrl',
              'iconsViewUrl',
              'iconsCommentUrl',
              'iconsCloseUrl',

              'iconsHeartWhiteUrl',
              'iconsViewWhiteUrl',
              'iconsCommentWhiteUrl',
              'iconsLinkUrl',

              'iconsNewUrl',
              'iconsStarUrl',
              'iconsArticlesUrl',
              'iconsNewsUrl',
              'iconsLampUrl',

              'cityUrl',
              'showCity',
              'cityDotUrl',

          ],
          data: function () {
              return {
                  baseLoading: true,
                  bannerLoading: true,
                  postLoading: true,
                  postLoadedAll: false,
                  showFilter: false,
                  categories: [],
                  industries: [],
                  posts: [],
                  filterqueryParamCategory:0,
                  filterqueryParamFilter:[0,],

                  paginationData: {
                      start: 0,
                      quantity: 10,
                  },
                  industryBase: '',
                  url:{
                      categories: "/api/categories",
                      industries: "/api/industries",
                      posts: "/api/posts",
                      fresh: "/api/fresh"
                  },
                  freshCounter: 0,
              }
          },
          created: function(){
              this.getAll();
          },
          mounted: function(){
              this.onScroll();
              this.scrollTop();
          },
          computed: {
              pageLoading: function(){
                  if(!this.bannerLoading && !this.baseLoading){
                      this.$emit('pageloaded');
                      return false
                  } else{
                      return true
                  }
              },
          },
          methods:{
              scrollTop: function(){
                  window.scrollTo(0, 0);
                  // console.log('scroll to top')
              },
              grabUrl: function(param){
                  var url_string = window.location.href;
                  var url = new URL(url_string);
                  var parametr = url.searchParams.get(param);
                  return parametr
              },
              emptyUrl:function(){
                  history.pushState(null, '', '/');
              },
              setActive: function(id){
                  var isChildren = false
                  for (const item of this.categories){
                      for (const el of item.children){
                          if (id === el.id){
                              item.parent.isActive = false
                              item.parent.isSelected = true
                              item.isDropdownexpanded = true
                              el.isActive = true
                              this.filterqueryParamCategory = id
                              isChildren = true
                          }
                          else {
                              el.isActive = false
                          }
                      }
                  }
                  if (isChildren){
                      for (const cat of this.categories){
                          if (cat.parent.id === 0){
                              cat.parent.isActive = false
                          }
                      }
                      return null
                  }


                  for (const item of this.categories){
                      item.parent.isSelected = false
                      if (item.children.length !== 0){
                          if (id === item.parent.id){
                              item.isDropdownexpanded = true
                          }
                          else{
                              item.isDropdownexpanded = false
                          }
                      }
                  }



                  for (const item of this.categories){
                      if (id === item.parent.id){
                          item.parent.isActive = true
                          this.filterqueryParamCategory = id
                      }
                      else {
                          item.parent.isActive = false
                      }
                  }

              },
              hasChildren: function(item){
                  if(item.children.length !== 0){
                      return true
                  }
                  return false
              },
              categoryFormater: function(list){
                  var first = [
                      {
                          'parent':{
                              'id': 0,
                              'name': 'Fresh',
                              'isActive': true
                          },
                          'children':[]
                      }
                  ]



                  for (const item of list){
                      item.isActive = false
                      if (item.parent_id === null){
                          first.push(
                              {
                                  "isDropdownexpanded":false,
                                  "parent":item
                              }
                          )
                      }
                  }

                  for (const el of first){
                      el.children = []
                      for (const item of list){
                          if (item.parent_id === el.parent.id){
                              el.children.push(item)
                          }
                      }
                  }

                  return first
              },
              industryFormater: function(list){
                  var first ={
                      'id': 0,
                      'name':'All'
                  }
                  list.unshift(first)
                  return list
              },
              getAll: function () {
                  this.baseLoading = true;

                  var requestCategories = axios.get(this.url.categories);
                  var requestIndustries = axios.get(this.url.industries);
                  var requestFresh = axios.get(this.url.fresh);

                  axios.all([requestCategories, requestIndustries,requestFresh ]).then(axios.spread((...responses) => {
                    var responseCategories = responses[0]
                    var responseIndustries = responses[1]
                    var responseFresh = responses[2]
                    this.categories = this.categoryFormater(responseCategories.data);
                    if (this.grabUrl("category") ){
                        this.setActive(parseInt(this.grabUrl("category")));
                        this.emptyUrl()
                    } else if (this.grabUrl("industry") ){
                        var array = []
                        array.push(parseInt(this.grabUrl("industry")))
                        this.filterqueryParamFilter = array
                        this.emptyUrl()
                    }
                    else{
                        this.setActive(this.filterqueryParamCategory);
                        this.getPosts();
                    }
                    this.industries = this.industryFormater(responseIndustries.data);
                    this.freshCounter  = responseFresh.data
                    this.baseLoading = false;
                 })).catch(errors => {
                   // react on errors.
                 })
              },
              getPosts:  function(){
                  // console.log('getPosts')
                  axios({
                      method: 'get',
                      params: {
                                  category: this.filterqueryParamCategory,
                                  filter: this.filterqueryParamFilter,
                                  start: this.paginationData.start,
                                  quantity: this.paginationData.quantity,
                              },
                      url: this.url.posts,
                  })
                  .then(response => {
                      this.posts = this.posts.concat(this.postFormater(response.data.posts))
                      this.postLoading = false
                      if (response.data.posts.length < this.paginationData.quantity){
                          this.postLoadedAll = true
                      }
                  })
              },
              onScroll:function(){
                  window.onscroll = () => {
                      var scrollHeight = Math.max(
                          document.body.scrollHeight, document.documentElement.scrollHeight,
                          document.body.offsetHeight, document.documentElement.offsetHeight,
                          document.body.clientHeight, document.documentElement.clientHeight
                      );
                      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                      let bottomOfWindow = scrollTop + window.innerHeight === scrollHeight;

                      if (bottomOfWindow && !this.postLoadedAll && !this.postLoading) {
                          this.postLoading = true
                          this.paginationData.start = this.paginationData.start + this.paginationData.quantity
                          // console.log('scroll')
                          this.getPosts()
                      }
                  }
              },
              beforeLoad: function(){
                  this.paginationData.start = 0
                  this.posts = []
                  this.postLoading = true
                  this.postLoadedAll = false
              },
              cityFilter:function(e){
                  this.filterqueryParamCategory = 1
                  // this.filterqueryParamFilter =[0,]
              },
          },
          watch:{
              pageLoading:function(newValue, oldValue){
                  var Check = newValue
              },
              filterqueryParamCategory:{
                 deep: true,
                 handler: _.debounce(function (newValue, oldValue) {

                        this.beforeLoad()
                         this.getPosts()
                         // console.log('filterqueryParam launch')

                }, 400),
              },
              filterqueryParamFilter:{
                 deep: true,
                 handler: _.debounce(function (newValue, oldValue) {
                     if (newValue !==oldValue){
                          if(newValue.includes(0) && !oldValue.includes(0)){
                              newValue.splice(0)
                              newValue.push(0)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()
                          }

                          else if(newValue.length === (this.industries.length -1) && !newValue.includes(0)){
                              newValue.splice(0)
                              newValue.push(0)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()
                          }

                          else if(newValue.length > 1 && oldValue.includes(0)){
                              newValue.splice(0,1)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()

                          }

                          else if(newValue.length === 0){
                              newValue.splice(0)
                              newValue.push(0)

                              this.filterqueryParamFilter = newValue
                              this.beforeLoad()
                              this.getPosts()
                          } else{
                              this.beforeLoad()
                              this.getPosts()
                          }
                  }

                }, 100),
              },

          },
      }
</script>
