$project-gray: #4D4D4D;
$project-gray-secondary: #ABB4B9;
$project-gray-third: #D4DDE2;
$project-gray-forth: #F4F6F8;
$project-red: #DD1B53;
$project-border-radius: 12px;
$theme-colors: (
  "customc": #900,
  "secondary": $project-gray-secondary,
  "danger": $project-red
);

$link-color:$project-red;
$link-hover-color:darken($project-red, 10%);
$container-max-widths: (
  xs: 600px,
  sm: 1024px,
  md: 900px,
  lg: 1368px,
  xl: 1368px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 1024px,
  lg: 1440px,
  xl: 1680px
) !default;



$navbar-light-color: $project-gray;
