@import 'variables';
@import "./bootstrap/scss/bootstrap";


html,body, #app,  { height: 100%; margin: 0px; padding: 0px; }

@include media-breakpoint-up(xs) {
    h1{
        font-family: 'Proxima Nova Lt' !important;
        font-weight: 600 !important;
        font-style: normal !important;
        line-height: 36px !important;
        font-size:26px !important;
        color: $project-gray !important;
    }
}
@include media-breakpoint-up(sm) {
    h1{
        font-family: 'Proxima Nova Lt' !important;
        font-weight: 600 !important;
        font-style: normal !important;
        line-height: 48px !important;
        font-size:36px !important;
        color: $project-gray !important;
    }
}



strong{
    font-weight: 600 !important;
}
a{
    text-decoration: none !important;
}
.body{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    min-width: 375px;
    height: 100%;
}

.body::before{
    content: "";
    position: fixed;
    width: 100%;
    height:100%;
    background-color: $project-gray-forth;
}

.modalopen {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.body-white{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    min-width: 375px;
}
.body-white::before{
    content: "";
    position: fixed;
    width: 100vw;
    height:100vh;
    background-color: white;
}

.container{
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 1px !important;

}

.content-article{
    padding-top: 40px !important;
    // width:870px !important;
}


.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.card{
    background-color: transparent;
    background-clip:inherit;
    border: none;
    border-radius: 0;

}


@include media-breakpoint-up(xs) {
    .content{
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 80px;
        height: 100%;
    }
    .content-article{
        padding-top: 40px !important;
        // width:100% !important;
    }
}
@include media-breakpoint-up(sm) {
    .content{
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 80px;
        height: 100%;


    }

    .content-article{
        padding-top: 40px !important;
        // width:95vw !important;
    }
}
@include media-breakpoint-up(md) {
    .content{
        margin-top: 81px;
        padding-top: 0px;
        padding-bottom: 80px;
        height: 100%;

    }
}

@include media-breakpoint-up(xs) {
    .content-container{
        width:100%;
    }
}
@include media-breakpoint-up(lg) {
    .content-container{
        width:870px;
    }
}



section{
    margin-bottom: 30px;
}
//  ---- HEADER ----

.header-logo {
    width: 149px;
}

.header-logo-mini {
    margin: 0;
    padding: 0;
}

.nav-item a {
    // font-family: 'Proxima Nova Rg', sans-serif !important;
    // font-weight:normal;
    // font-style:normal;
    font-size:16px;
}

.nav-item{
    margin-left: 45px;
}

.header-icon{
    margin: 0 5px;
}

.nav-padding{
    padding: 16px 0;
    min-height: 52px;
}

@include media-breakpoint-up(xs) {
    .nav-padding{
        padding: 4px 0;
    }
}
@include media-breakpoint-up(sm) {
    .nav-padding{
        padding: 4px 0;
    }
}
@include media-breakpoint-up(md) {
    .nav-padding{
        padding: 16px 0;
    }
}
.nav-link{
    padding: 0 0 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../icons/burger_icon.svg");
    outline: none !important;
    box-shadow: none;
}

@include media-breakpoint-up(xs) {
    .navbar-light .navbar-toggler-icon{
        width: 20px;
    }
}
@include media-breakpoint-up(sm) {
    .navbar-light .navbar-toggler-icon{
        width: 30px;
    }
}

.navbar-toggler {
    border: none;
    outline: none !important;
    padding: 0 !important;
    margin: 0 !important;
}



.nav-project-gray{
    background-color: white ;
    border-bottom: 1px solid $project-gray-third !important;
    margin-bottom: 20px !important;
}

@include media-breakpoint-up(md) {
    .nav-project-gray{
        background-color: $project-gray-forth ;
        border-bottom: none !important;
        margin-bottom: 0px !important;

    }
}

.nav-project-white{
    background-color: white ;
    border-bottom: 1px solid $project-gray-third !important;
    margin-bottom: 20px !important;
}

@include media-breakpoint-up(md) {
    .nav-project-white{
        background-color: white ;
        border-bottom: none !important;
        margin-bottom: 0px !important;

    }
}


//  ---- BANNER ----


.city-item{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #3366CC;
    width: 100%;
    border-radius: $project-border-radius;
}




.city-image{
    border-radius: $project-border-radius;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.city-dot{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-20px, -20px);
    cursor: pointer;

}

.city-dot-pointer{
    position: absolute;
    top:-12px;
    left:-12px;
}

@include media-breakpoint-up(sm) {
  .city-item {
      height: 39vw;
  }

  .city-dot-pointer{
      width: 2.5vw;
      height: 2.5vw;
  }
}

@include media-breakpoint-up(md) {
  .city-item {
      height: 375px;
  }

  .city-dot-pointer{
      width: 20px;
      height: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .city-item {
      height: 550px;
  }


  .city-dot-pointer{
      width: 25px;
      height: 25px;
  }
}


.city-dot-line{
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: $project-red;
}
.city-dot-line-right{
    top:1px;
    left:0;
}
.city-dot-line-left{
    top:1px;
    right:0;
}


.city-dot-txt{
    position: absolute;
    color:$project-red;
    font-size: 18px !important;
    font-family: 'Proxima Nova Lt' !important;
    font-weight: 600 !important;
    font-style: normal !important;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px white,
}

@include media-breakpoint-up(sm) {
    .city-dot-txt-right{
        top:-14px;
        left:130px;
    }
    .city-dot-txt-left{
        top:-14px;
        right:130px;
    }
    .city-dot-line-right{
        top:-1px;
        left:0;
    }
    .city-dot-line-left{
        top:-1px;
        right:0;
    }
}
@include media-breakpoint-up(md) {
    .city-dot-txt-right{
        top:-15px;
        left:130px;
    }
    .city-dot-txt-left{
        top:-15px;
        right:130px;
    }
    .city-dot-line-right{
        top:-2px;
        left:0;
    }
    .city-dot-line-left{
        top:-2px;
        right:0;
    }
}
@include media-breakpoint-up(lg) {
    .city-dot-txt-right{
        top:-12px;
        left:130px;
    }
    .city-dot-txt-left{
        top:-12px;
        right:130px;
    }
    .city-dot-line-right{
        top:1px;
        left:0;
    }
    .city-dot-line-left{
        top:1px;
        right:0;
    }
}


.city-hover-group{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.city-dot:hover  .city-hover-group{
    opacity: 1;
}


// ------
@include media-breakpoint-up(sm) {
    .city-dot-1{
        left:7vw;
        top:25vw;
    }

    .city-dot-2{
        left:17vw;
        top:11vw;
    }
    .city-dot-3{
        left:30vw;
        top:16vw;
    }
    .city-dot-4{
        left:30vw;
        top:30vw;
    }
    .city-dot-5{
        left:46vw;
        top:25vw;
    }
    .city-dot-6{
        left:61vw;
        top:15vw;
    }
    .city-dot-7{
        left:70vw;
        top:28vw;
    }
    .city-dot-8{
        left:79vw;
        top:19vw;
    }
    .city-dot-9{
        left:90vw;
        top:11vw;
    }

}

@include media-breakpoint-up(md) {
    .city-dot-1{
        left:40px;
        top:240px;
    }

    .city-dot-2{
        left:140px;
        top:110px;
    }
    .city-dot-3{
        left:265px;
        top:155px;
    }
    .city-dot-4{
        left:260px;
        top:290px;
    }
    .city-dot-5{
        left:415px;
        top:245px;
    }
    .city-dot-6{
        left:560px;
        top:140px;
    }
    .city-dot-7{
        left:640px;
        top:270px;
    }
    .city-dot-8{
        left:725px;
        top:180px;
    }
    .city-dot-9{
        left:830px;
        top:110px;
    }

}

@include media-breakpoint-up(lg) {
    .city-dot-1{
        left:100px;
        top:350px;
    }

    .city-dot-2{
        left:240px;
        top:160px;
    }
    .city-dot-3{
        left:415px;
        top:220px;
    }
    .city-dot-4{
        left:410px;
        top:430px;
    }
    .city-dot-5{
        left:640px;
        top:350px;
    }
    .city-dot-6{
        left:850px;
        top:210px;
    }
    .city-dot-7{
        left:970px;
        top:390px;
    }
    .city-dot-8{
        left:1100px;
        top:260px;
    }
    .city-dot-9{
        left:1260px;
        top:160px;
    }

}







.banner-overall{
    border-radius: $project-border-radius;
}

.banner-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #3366CC;
    width: 100%;
}

@include media-breakpoint-up(sm) {
  .banner-item {
      height: 400px;
  }
}

@include media-breakpoint-up(md) {
  .banner-item {
      height: 375px;
  }
}

@include media-breakpoint-up(lg) {
  .banner-item {
      height: 550px;
  }
}


.banner-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 70px;
    z-index: 10;
    position: relative;
    height: 100%;
    width:100%;
}

@include media-breakpoint-up(sm) {
  .banner-content {
      padding: 0 40px;
  }
}

@include media-breakpoint-up(md) {
  .banner-content {
      padding: 0 70px;
        padding-bottom: 40px;
  }
}

.banner-image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.banner-header{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:600;
    font-style:normal;
    line-height: 70px;
    font-size:64px;
    color: white;
    width: 83%;
}

@include media-breakpoint-up([xs]) {
  .banner-header {
      font-size:24px;
  }
}

@include media-breakpoint-up(sm) {
  .banner-header {
      font-size:5.5vw;
      line-height: 6vw;
  }
}

@include media-breakpoint-up(md) {
  .banner-header {
      font-size:48px;
      line-height: 54px;
      // font-size:4.5vw;
      // line-height: 4.8vw;
  }
}

@include media-breakpoint-up(lg) {
  .banner-header {
      font-size:64px;
      line-height: 70px;
  }
}

.banner-tag{
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 20px 0;
}

.banner-info{
    font-size: 14px;
    line-height: 17px;
    color: white;
    display: flex;
    align-items: center;
}


.banner-info-item{
    display: flex;
    align-items: center;
    margin-right: 17px;
}
.banner-info-icon{
    margin-right: 7px;
}
.banner-info-icon-clickable{
    cursor: pointer;
    margin-right: 7px;
}

.banner-link{
    font-size: 18px;
    line-height: 22px;
    color: white !important;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}

.banner-link img{
    height:40px;
    width:40px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

}

.banner-link:hover img{
    -webkit-transform: translateX(10px);
    transform: translateX(10px);

}

.banner-description{
    color:white;
    width: 60%;
    margin: 20px 0;
}
//  ---- SWITCH ----

.switcher-container{
    margin-left: 65px;
    position: relative;

}
.switcher-hide{
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width:100%;
    height: 100%;
    top:0;
    left:0;


}
@include media-breakpoint-up(xs) {
  .switcher-container{
      margin-left: -35px;
  }
}

@include media-breakpoint-up(sm) {
  .switcher-container{
      margin-left: -35px;
  }
}

@include media-breakpoint-up(md) {
  .switcher-container{
      margin-left: 65px;
  }
}

@include media-breakpoint-up(lg) {
  .switcher-container{
      margin-left: 65px;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 19px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid $project-gray-secondary;

}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $project-red;
}

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
//
// }

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 19px;
}

.slider.round:before {
  border-radius: 50%;
  border: 1px solid $project-gray-secondary;

}

//  ---- FILTER ----
.filter-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.filter-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    border-radius: $project-border-radius;
    margin-top: 0px;
}

@include media-breakpoint-up(xs) {
  .filter-container{
      padding: 10px 38px 18px 38px;
  }
}

@include media-breakpoint-up(md) {
  .filter-container{
      padding: 48px 38px 18px 38px;
  }
}

.filter-header{
    margin-bottom: 30px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    font-size:18px;
    color: $project-gray-secondary;
}

.filter-items{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
}

.filter-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}
.filter-item-main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

}

.filter-item-icon{
    max-width: 20px;
    position: absolute;
}

.filter-item:hover .filter-item-icon{
    filter: invert(17%) sepia(75%) saturate(5533%) hue-rotate(335deg) brightness(91%) contrast(88%);
}

.active  .filter-item-icon{
    filter: invert(17%) sepia(75%) saturate(5533%) hue-rotate(335deg) brightness(91%) contrast(88%);
}

.filter-item-text{
    margin-left: 40px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    font-size:18px;
    color: $project-gray-secondary;

}

.filter-item:hover .filter-item-text{
    color: $project-red;
}

.active  .filter-item-text{
    color: $project-gray;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:600;
}

.selected  .filter-item-text{
    color: $project-gray;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
}

.project-badge-pill{
    margin-right: -12px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    font-size:14px;
    padding: 3px 12px;
}

.project-dropdown{
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-image: url("../icons/dropdown_icon.svg");
    transform: rotate(180deg);
}


.dropdownrotate {
    transform: rotate(0deg);
    margin-top: -3px;
}

.filter-sublist{
    margin-top: 20px;
    margin-bottom: -20px;
}

.filter-sublist-item{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.filter-sublist-item-icon{
    position: absolute;
    left: 4px;
    width: 10px;
    height: 10px;
    background-image: url("../icons/elipse_icon.svg");
    background-repeat: no-repeat;
}



.filter-sublist-item:hover .filter-sublist-item-icon{
    background-image: url("../icons/elipse_hover_icon.svg");
}

.active >  .filter-sublist-item-icon{
    background-image: url("../icons/elipse_hover_icon.svg");
}

.filter-sublist-item-text{
    margin-left: 40px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    font-size:16px;
    color: $project-gray-secondary;

}

.filter-sublist-item:hover .filter-sublist-item-text{
    color: $project-gray;
}

.active > .filter-sublist-item-text{
    color: $project-gray;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:600;
}


.filter-button{
    width: 39px;
    height: 39px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(160,160,160,0.25);
    padding-top: 6px;
    padding-left:10px;
    cursor: pointer;
}

.filter-button:hover{
    background-color: $project-gray-forth;
}


.filter-menu-bg {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.filter-menu {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1000;

}
.filter-menu-container{
    padding-top: 40px;
    height: 100vh;
    background-color: white;
    overflow: scroll;

}

.filter-menu-button{
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 24px;
    width: 39px;
    height: 39px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(160,160,160,0.25);
    padding-top: 6px;
    padding-left:12px;
    cursor: pointer;
    transition: all 0.3s;
 }

.filter-menu-button:hover{
    background-color: $project-gray-forth;
    transform: rotate(180deg);

}

//  ---- SEARCH ----


.search {
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:100;
    overflow: scroll;

}

.search-bg {
    position: fixed;
    background-color: $project-gray-forth;
    width: 100%;
    height: 100%;

}

.search-body{
    margin-top: 100px;
}

@include media-breakpoint-up(xs) {
    .search-body{
        margin-top: 70px;
    }
}

@include media-breakpoint-up(md) {
    .search-body{
        margin-top: 100px;
    }
}

.search-filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-filters-header{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal ;
    font-style:normal ;
    display: flex;
    align-items: center;
    color: $project-gray-secondary ;
}
@include media-breakpoint-up(xs) {
    .search-filters-header{
        font-size:14px ;
    }
}

@include media-breakpoint-up(sm) {
    .search-filters-header{
        font-size:18px ;
    }
}


.search-none{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal ;
    font-style:normal ;
    font-size:16px ;
    color: $project-gray ;
    margin-top: 50px;
}

.search-none > span:first-child{
    font-weight:600 ;
    font-size:20px ;
}

.search-results{
}

.search-close-btn{

    margin-left: 14px;
    padding: 5px;
    cursor: pointer;
}

@include media-breakpoint-up(xs) {
    .search-close-btn{
        margin-right: 0px;
    }
}

@include media-breakpoint-up(sm) {
    .search-close-btn{
        margin-right: 0px;
    }
}

@include media-breakpoint-up(md) {
    .search-close-btn{
        margin-right: -40px;
    }
}

.search-input{
    background-color: $project-gray-forth;
    border: none;
}

@include media-breakpoint-up(xs) {
    .search-input{
        height: 32px;
        margin: 6px 0;
    }
}

@include media-breakpoint-up(md) {
    .search-input{
        height: 36px;
    }
}

//  ---- MODAL ----

.modal-container {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:1040;

}

.modal-container-bg {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    left:0;
    top:0;
}

.project-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 480px;
    box-shadow: 0px 6px 16px rgba(212,220,226,0.7);
    padding: 50px  70px;
    border-radius: 12px;
}

.project-modal-header{
    @extend .menu-header;
    font-size: 22px !important;
}

.project-modal-subscribe{
    @extend .menu-subscribe;
    margin-bottom: 0 !important;
    border-radius: 8px !important;
    position: relative;
}

.project-modal-subscribe:hover{
    @extend .menu-subscribe, :hover;
}

.project-modal-subscribe:focus {
    @extend .menu-subscribe, :focus;
}

.project-modal-subscribe:disabled {
    @extend .menu-subscribe, :disabled;
}


.project-modal-close-btn{
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50px;

}

.project-modal-close-btn:hover{
    background-color: $project-gray-forth;
}

//  ---- OPENMENU ----


.menu-bg {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;

}

.menu {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:100;

}

.menu-body{
    margin-top: 85px;

}

.menu-header{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:400 ;
    font-style:normal ;
    font-size:26px ;
    color: $project-gray ;
    margin-bottom: 40px;
}

.menu .login{
    background-color: $project-gray-forth;
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 40px;
}

.menu .login:hover{
    background-color: darken($project-gray-forth, 5%);
}

.menu .login:focus {
    outline:0;
}

.menu-subscribe{
    background-color: $project-red;
    color: white;
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.menu-subscribe:hover{
    background-color: darken($project-red, 5%);
}

.menu-subscribe:focus {
    outline:0;
}

.menu-subscribe:disabled {
    background-color: $project-gray-secondary;
}


.menu-close-btn{
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.menu-close-btn:hover{
    transform: rotate(180deg);
}

.menu-search-btn{
    padding: 5px;
    cursor: pointer;
}

.subscribe-form{
    position: relative;
}
.subscribe-field{
    border: none;
    border-bottom: 1px solid $project-gray-third;
    width: 100%;
    padding-bottom: 10px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal ;
    font-style:normal ;
    font-size:16px ;
    color: $project-gray ;
}

.subscribe-field:hover{
    outline:0;
}

.subscribe-field::placeholder{
    color: $project-gray-secondary ;
}

.subscribe-field:focus{
    outline:0;
}

.subscribe-field.error{
    border-bottom: 1px solid $project-red;
}
.subscribe-field + span{
    color:$project-red;
    position: absolute;
    top:  35px;
    left:0;
    width: 200px;
}

.subscribe-thanks > div{
    font-size: 36px;
    line-height:  36px;
    text-align: center;
}
//  ---- CHECKBOX ----

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 41px;
  margin-bottom: 0;
  cursor: pointer;
  font-family: 'Proxima Nova Rg', sans-serif !important;
  font-weight:normal ;
  font-style:normal ;
  font-size:18px ;
  color: $project-gray-secondary ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: $project-gray-third ;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: $project-gray-secondary;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $project-red;
}

.checked {
  color: $project-gray;
  font-weight:600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 5px;
  width: 100%;
  height: 10px;
  background-image: url("../icons/checkmark_icon.svg");
  background-repeat: no-repeat;
}

//  ---- ARTICLES ----


img.article{
    width: 100%;
    object-fit: cover;
    border-radius: $project-border-radius;
    min-height: 170px;
}

@include media-breakpoint-up(xs) {
    img.article{
        height: 40vw;
    }
}

@include media-breakpoint-up(md) {
    img.article{
        height: 432px;
    }
}

.article-item{
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: $project-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

.article-item--search{
    @extend .article-item;
    flex-direction: row;
    justify-content: flex-start;
}

@include media-breakpoint-up(xs) {
    .article-item--search{
        flex-direction: column;
        justify-content: space-between;
    }
    .article-item{
        margin-bottom: 15px;
    }
}

@include media-breakpoint-up(sm) {
    .article-item--search{
        flex-direction: row;
        justify-content: flex-start;
    }
    .article-item{
        margin-bottom: 9px;
    }
}

.article-item:hover{
    box-shadow: 0px 6px 16px rgba(212,220,226,0.3);
}

// @include media-breakpoint-up(xs) {
//   .article-item{
//     height: 348px;
//   }
// }
//
// @include media-breakpoint-up(sm) {
//   .article-item{
//     height: 310px;
//   }
// }
//
// @include media-breakpoint-up(md) {
//   .article-item{
//     height: 272px;
//   }
// }
//
// @include media-breakpoint-up(lg) {
//   .article-item{
//     height: 378px;
//   }
// }

.article-item-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.article-item-container--search {
      @extend .article-item-container;
      position: relative;
}

@include media-breakpoint-up(xs) {
    .article-item-container--search{
        width:100%;
    }
}

@include media-breakpoint-up(sm) {
    .article-item-container--search{
        width:206px;
    }
}

@include media-breakpoint-up(md) {
    .article-item-container--search{
        width:255px;
    }
}



.article-item-video{
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../icons/video_icon.svg");
    transition: all 0.5s;
}

.article-item:hover .article-item-video{
    background-image: url("../icons/video_hover_icon.svg");
}
.article-item-image{
    border-radius: $project-border-radius $project-border-radius  0 0;
    object-fit: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--search {
      @extend .article-item-image;
          height: auto;
    }

}

@include media-breakpoint-up(xs) {
    .article-item-image{
        width: 100%;
        height: 206px;
    }
    .article-item-image--search {
        width: 100%;
        height: 206px;
        border-radius: $project-border-radius $project-border-radius  0 0;
    }
}

@include media-breakpoint-up(sm) {
  .article-item-image{
      width: 100%;
      height: 170px;
  }
  .article-item-image--search {
      width:206px;
      border-radius: $project-border-radius 0 0 $project-border-radius;
      height: 20vw;
  }
}

@include media-breakpoint-up(md) {
  .article-item-image{
      width: 100%;
      height: 150px;
  }
  .article-item-image--search {
      width:255px;
      border-radius: $project-border-radius 0 0 $project-border-radius;
  }
}

@include media-breakpoint-up(lg) {
  .article-item-image{
      width: 100%;
      height: 180px;
  }
  .article-item-image--search {
      width:255px;
      border-radius: $project-border-radius 0 0 $project-border-radius;
  }
}



.article-item-header{
    padding: 0 30px ;
    margin-top: 25px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:500 ;
    font-style:normal ;
    color: $project-gray;

    &--search {
      @extend .article-item-header;
      margin-top: 25px;
    }
}

@include media-breakpoint-up(xs) {
  .article-item-header{
      font-size:20px ;
      line-height: 26px;
  }
  .article-item-header--search{
        margin-top: 25px;
  }
}

@include media-breakpoint-up(sm) {
  .article-item-header{
      font-size:2.2vw ;
      line-height: 2.6vw;
  }
  .article-item-header--search{
        margin-top: 4vw;
  }
}

@include media-breakpoint-up(md) {
  .article-item-header{
      font-size:18px ;
      line-height: 24px;
  }
  .article-item-header--search{
        margin-top: 25px;
  }
}

@include media-breakpoint-up(lg) {
  .article-item-header{
      font-size:22px ;
      top: 230px;
      line-height: 30px;
  }
}

.article-tags{
    margin-top: 15px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:noraml ;
    font-style:normal ;
    color: $project-red;
}

.article-item-tags{
    padding: 0 30px;
    margin-top: 7px;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:noraml ;
    font-style:normal ;
    color: $project-red;
}


@include media-breakpoint-up(xs) {
  .article-item-tags{
      font-size:16px ;
  }
}

@include media-breakpoint-up(sm) {
  .article-item-tags{
      font-size:1.5vw ;

  }
}

@include media-breakpoint-up(md) {
  .article-item-tags{
      font-size:16px ;

  }
}

@include media-breakpoint-up(lg) {
  .article-item-tags{
      font-size:18px ;

  }
}

.article-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    white-space: nowrap;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    color: $project-gray-secondary;

}
@include media-breakpoint-up(xs) {
  .article-info{
      margin-bottom: 26px ;
  }
}

@include media-breakpoint-up(sm) {
  .article-info{
      margin-bottom: 45px ;

  }
}

@include media-breakpoint-up(md) {
  .article-info{
      margin-bottom: 50px ;

  }
}



.article-item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0  30px;
    margin-top: 9px;
    white-space: nowrap;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    color: $project-gray-secondary;

}

@include media-breakpoint-up(xs) {
  .article-item-info{
      margin-bottom: 15px;
      font-size:14px ;

  }
}

@include media-breakpoint-up(sm) {
  .article-item-info{
      margin-bottom: 15px;
      font-size:1.5vw ;

  }
}

@include media-breakpoint-up(md) {
  .article-item-info{
      margin-bottom: 15px;
      font-size:14px ;

  }
}

@include media-breakpoint-up(lg) {
  .article-item-info{
      margin-bottom: 30px;
      font-size:14px ;

  }
}

.content-article  p {
    margin-bottom: 0;
}




.article-author {
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:600;
    font-style:normal ;
    font-size: 16px;
    color: $project-gray;
    text-decoration: underline !important;
    margin-left: 30px;
    margin-top: 50px;
}

.article-author:hover{
    color: $project-gray;
}

.article-share{
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    font-size: 16px;
    color: $project-gray;
    margin-top: 50px;
}
.article-share-buttons{
    display: flex;
    width:100%;
}

.article-share-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: none;
    color:white;
}

.article-share-btn:focus {outline:0;}

.article-share-btn:nth-child(1){
    margin-left: 0;
}
.article-share-btn:nth-child(4){
    margin-right: 0;
}

@include media-breakpoint-up(xs) {
    .article-share{
        flex-direction: column;
    }
    .article-share-buttons{
        align-items: stretch;
        margin-top: 20px;
        margin-left: 0;
    }
    .article-share-btn{
        width: 100%;
        height:15vw;
        margin: 0 5px;
    }
}

@include media-breakpoint-up(sm) {
    .article-share{
        flex-direction: row;
    }
    .article-share-buttons{
        align-items: center;
        margin-top: 0;
        margin-left: 30px;
    }
    .article-share-btn{
        width: 51px;
        height:32px;
        margin: 0 5px;
    }
}

.article-share-btn:nth-child(1){
    background-color: #4C6BA6;
}
.article-share-btn:nth-child(2){
    background-color: #259DDB;
}
.article-share-btn:nth-child(3){
    background-color: #4C77A6;
}
.article-share-btn:nth-child(4){
    background-color: #2AA3EF;
}



.like-btn{
    background-color: $project-red;
    width: 100%;
    border:none;
    border-radius: 4px;
    padding: 7px 15px;
    margin: 20px 0;
    color: white;
}
.like-btn:disabled{
    background-color: $project-gray-third;
}

.question{
    margin-bottom: 40px;
}
.question > span:nth-child(1){
    font-family: 'Proxima Nova Lt', sans-serif !important;
    font-weight:600;
    font-style:normal ;
    font-size: 22px;
    color: $project-gray;
}
.question > span:nth-child(2){
    font-family: 'Proxima Nova Lt', sans-serif !important;
    font-weight:600;
    font-style:normal ;
    font-size: 22px;
    color: $project-gray;
}
.question > span:nth-child(3){
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    font-size: 16px;
    color: $project-gray-secondary;
}
.question > span:nth-child(4){
    margin-left:20px;
    font-family: 'Proxima Nova Lt', sans-serif !important;
    font-weight:600;
    font-style:normal ;
    font-size: 22px;
    color: $project-gray;
}

.answers{
        margin-bottom: 40px;
}
.answers > div{
    width: 100%;
    border: 1px solid $project-gray-secondary;
    color:$project-gray;
    padding: 20px 40px;
    margin-bottom: -1px;
    cursor: pointer;
    position: relative;
}

.answers > div:hover{
    background-color: $project-gray-forth;
}



.answers > div.correct:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    left: 0px;
    top: 0px;
    background-color: green;
}

.answers > div.error:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    left: 0px;
    top: 0px;
    background-color: $project-red;
}

.quizz-results-header{
    font-family: 'Proxima Nova Lt' !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-size:26px;
    margin-bottom: 40px;
}

.quizz-results-txt{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    font-size:20px;
    margin-bottom: 40px;
}

.reload{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    color: $project-gray-secondary !important;
    margin-bottom: 45px;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 16px;
    margin-top: 40px;

}

.reload > img {
    margin-top: -3px;
    width: 12px;
}



.back{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    color: $project-gray-secondary !important;
    margin-bottom: 45px;
    cursor: pointer;
    text-decoration: none !important;
}

.back-txt{
    text-transform: uppercase;
}

@include media-breakpoint-up(xs) {
    .back{
        font-size: 14px;
    }
    .back > img {
        width: 34px;
    }
}

@include media-breakpoint-up(md) {
    .back{
        font-size: 18px;
    }
    .back > img {
        width: 48px;
    }
}


.back:hover{
    color:darken($project-gray-secondary, 10%) !important;
}
//  ---- DROPDOWN ----

.dropdown-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;


}
.dropdown-result {
    display: flex;
    align-items: center;
    padding: 10px  10px;
    background-color:$project-gray-forth;
    color:$project-gray;
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal ;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}
.dropdown-result:hover {
    background-color:darken($project-gray-forth, 2%);
}

.dropdown-options{
    position: absolute;
    right: 0;
    top: 50px;
    padding: 10px 0px;
    border-radius: 4px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(160,160,160,0.25);
    white-space: nowrap;


}

.dropdown-options > span{
    padding: 10px 30px 10px 40px;
    width: 100%;
    text-align: left;
    user-select: none;
    cursor: pointer;
}
.dropdown-options > span:hover{
    background-color: $project-gray-forth;

}

.dropdown-options > span.active{
    background-image: url("../icons/checked.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    // transform: rotate(180deg);
}


//  ---- POST PAGE ----

.postpage-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 10px 0;
}

//  ---- LOADER ----

.loaderArea {
  background: $project-red;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0;
  right:0;
  bottom:0;
  z-index: 10000;
}

.loader{
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

}

.loader-local{
    width:100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


//  ---- ANIMATION ----

.fade-enter-active, .fade-leave-active {
  transition: all 0.4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fadex-enter-active, .fadex-leave-active {
  transition: all 0.3s;
}
.fadex-enter, .fadex-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

//  ---- AUTHOR ----
.#{author} {
    &-block{
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: $project-border-radius;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:50px 70px;
    }
    &-middlesection{
        margin-top: 60px;
        margin-bottom: 30px;
    }

    &-avatar{
        width: 120px;
        height: 120px;
        border-radius: 200px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    &-header{
        font-family: 'Proxima Nova Lt' !important;
        font-weight: 600 !important;
        font-style:normal ;
        font-size: 26px;
        color:$project-gray;
        text-align: center;
        // margin-bottom: 7px;
    }
    &-description-short{
        font-family: 'Proxima Nova Rg', sans-serif !important;
        font-weight:normal;
        font-style:normal ;
        font-size: 14px;
        color:$project-gray-third;
        text-align: center;
        margin-bottom: 20px;
        width:100%;

    }
    &-description-long{
        font-family: 'Proxima Nova Rg', sans-serif !important;
        font-weight:normal;
        font-style:normal ;
        font-size: 16px;
        color:$project-gray;
        text-align: center;
        width:100%;
    }

    &-formerror{
        color:$project-red;
        position: absolute;
        align-self: flex-start;
    }
    &-formfield-wrapper{
        position: relative;
        width:100%;
        margin-top: 30px;
    }


}
