<template>
    <section v-show="showAuth" class="modal-container">
        <div class="modal-container-bg"  v-on:click="$emit('close-modal')"></div>
        <div class="project-modal">
            <img class="project-modal-close-btn" :src="closeIconUrl" v-on:click="$emit('close-modal')">
            <div v-if="!success">
                <div class="project-modal-header">
                    <span>Authorization</span>
                </div>
                <v-facebook-login
                    app-id="534041897260036"
                    v-on:login="FBOnLogin"
                    v-on:logout="FBOnLogout"
                    v-model="FBModel"
                    @sdk-init="FBHandleSdkInit"
                >
                </v-facebook-login>
            </div>
            <div v-else class="subscribe-thanks">
                <div>You are authorized!</div>
            </div>
        </div>
    </section>

</template>

<script>
    import VFacebookLogin from 'vue-facebook-login-component'

    export default {
        components: {
            VFacebookLogin
        },
        props: [
            'showAuth',
            'showLogout',
            'closeIconUrl',
        ],
        data: function () {
            return {
                success: false,
                user:{},
                FB: {},
                FBModel: {},
                FBScope: {},
            }
        },
        created:function(){
        },
        mounted:function(){
        },
        computed: {
        },
        methods:{
            FBHandleSdkInit({ FB, scope }) {
                this.FB = FB
                this.FBScope = scope

                this.FB.getLoginStatus(
                    response => {
                        if (response.status === "connected"){
                            this.getUserInfo()
                        }
                    }
                );
            },
            FBOnLogin:function(e){
                if(e === 'connected'){
                    this.success = true
                    this.$emit('update:showLogout', false)
                    this.getUserInfo()
                }
            },
            FBOnLogout:function(e){
                    this.$emit('logout')
            },
            getUserInfo:function(){
                this.FB.api('/me',
                    response => {
                        this.user.id = response.id
                        this.user.name = response.name
                        this.user.social = 'FB'

                        this.FB.api( '/' + this.user.id + '/picture','GET',{
                            'redirect': 'false'
                        },
                            response => {
                                this.user.avatar = response.data.url
                                this.$emit('authenticated', this.user)
                            }
                        );
                    }
                );
            },
        },
        watch:{
            showLogout:function(newValue,oldValue){
                if(newValue){
                    this.success = false
                }
            },
        },
    }
</script>
