<template>
    <section class="row d-none d-sm-block" v-if="!showCity">
        <div class="col-12">
            <div id="carouselExampleIndicators" class="carousel slide "

            >
                            <!-- data-ride="carousel" -->
                <ol class="carousel-indicators">
                    <li
                        data-target="#carouselExampleIndicators"

                        v-bind:class="{ active: index == 0 }"
                        v-for="(banner,  index) in banners"
                        :key="index"
                        :data-slide-to="index"
                    >

                    </li>

                </ol>
                <div class="carousel-inner banner-overall">
                    <div
                        class="carousel-item "
                        v-bind:class="{ active: index == 0 }"
                        v-for="(banner,  index) in banners"
                        :key="index"
                    >
                        <div class="banner-item">
                            <div class="banner-content">
                                <div>
                                    <div class="banner-header">{{banner.title}}</div>
                                    <div class="banner-tag" v-show="banner.category">
                                        <span>#{{banner.category}}</span>
                                        <span>#{{banner.industry}}</span>
                                    </div>
                                    <div class="banner-info" v-show="banner.category">
                                        <div class="banner-info-item">{{banner.published_at}}</div>
                                        <div class="banner-info-item" >
                                              <img class="banner-info-icon" width="15px" v-bind:src="iconsHeartWhiteUrl">
                                              <div>{{banner.likes}}</div>
                                        </div>
                                        <div class="banner-info-item" >
                                              <img class="banner-info-icon" width="20px" v-bind:src="iconsViewWhiteUrl">
                                              <div>{{banner.views}}</div>
                                        </div>
                                        <div class="banner-info-item" v-show="banner.comments">
                                              <img class="banner-info-icon" width="16px" v-bind:src="iconsCommentWhiteUrl">
                                              <div>{{banner.comments}}</div>
                                        </div>
                                    </div>
                                    <div class="banner-description" v-if="banner.description">
                                        {{banner.description}}
                                    </div>



                                </div>

                                <a class="banner-link" :href="banner.link">
                                    <span>Read more</span>
                                    <img class="ml-3" width="38px" v-bind:src="iconsLinkUrl" >
                                </a>
                            </div>
                            <img class="banner-image" :src="banner.image">
                        </div>
                    </div>

                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
        </div>
    </section>
</template>

<script>
    export default {
         props: [
             'iconsHeartWhiteUrl',
             'iconsViewWhiteUrl',
             'iconsCommentWhiteUrl',
             'iconsLinkUrl',
             'showCity',
         ],
         data: function () {
             return {
                 banners:[],
                 url:"/api/banners",
             }
         },
         mounted:function(){
             axios({
                 method: 'get',
                 url: this.url,
             })
             .then(response => {
                 this.banners = this.bannerFormater(response.data.banners)
                 this.$emit('banner-loaded');
             })
             .catch(response => {
                 console.log('error!');
             })
         },
         methods:{
             bannerFormater: function(list){
                 var formatedList=[]
                 for (const item of list){
                     if (item.type === 'POST'){
                         formatedList.push(
                             {
                                 title:item.related_item.title,
                                 category:item.related_item.category.name,
                                 industry:item.related_item.industry.name,
                                 published_at:moment(item.related_item.published_at + ' Z').locale('en').format("D MMM"),
                                 likes:item.related_item.likes,
                                 views:item.related_item.views,
                                 comments:item.related_item.comments_count,
                                 image: '/storage/'.concat(item.image) ,
                                 link: item.link,
                             }
                         )
                     } else if(item.type === 'QUIZZ'){
                         formatedList.push(
                             {
                                 title:item.related_item.title,
                                 category:'Интерактив',
                                 industry:item.related_item.industry.name,
                                 published_at:moment(item.related_item.published_at + ' Z').locale('ru').format("D MMM"),
                                 likes:item.related_item.likes,
                                 views:item.related_item.views,
                                 image: '/storage/'.concat(item.image) ,
                                 link: item.link,
                             }
                         )
                     }
                      else{
                         formatedList.push(
                             {
                                 title:item.title,
                                 description:item.description,
                                 image: '/storage/'.concat(item.image) ,
                                 link: item.link,
                             }
                         )
                      }
                 }
                 return formatedList
             },
         },
     }
</script>
