<template>
    <div class="filter-container filter-sticky">
        <div class="filter-header">Categories</div>
        <div class="filter-items">
            <div class="filter-item "
                v-for="item in categories"
                :key="item.parent.id"
            >

                <div
                    class="filter-item-main"
                    v-bind:class="{ active: item.parent.isActive, selected: item.parent.isSelected, }"
                    v-on:click="$emit('setactive', item.parent.id)"
                >

                    <div class="d-flex align-items-center">
                        <img
                            class="filter-item-icon" v-bind:src="iconsNewUrl"
                            v-if="item.parent.id == 0"
                        >
                        <img
                            class="filter-item-icon" v-bind:src="iconsStarUrl"
                            v-else-if="item.parent.id == 1"
                        >
                        <img
                            class="filter-item-icon" v-bind:src="iconsNewsUrl"
                            v-else-if="item.parent.id == 2"
                        >
                        <img
                            class="filter-item-icon" v-bind:src="iconsLampUrl"
                            v-else-if="item.parent.id == 4"
                        >
                        <img
                            class="filter-item-icon" v-bind:src="iconsArticlesUrl"
                            v-else
                        >




                        <span class="filter-item-text">{{item.parent.name}} </span>

                    </div>

                    <div class="project-dropdown"
                        v-bind:class="{ dropdownrotate: !item.isDropdownexpanded }"
                        v-show="hasChildren(item)"
                    ></div>
                    <span
                        class="badge badge-pill badge-danger project-badge-pill"
                        v-show="item.parent.id == 0"
                    >{{freshCounter}}</span>

                </div>
                <transition name='fade'>
                    <div class="filter-sublist" v-show="item.isDropdownexpanded & hasChildren(item) ">
                          <div
                                class="filter-sublist-item"
                                v-for="el in item.children"
                                :key="el.id"
                                v-bind:class="{ active: el.isActive }"
                                v-on:click="$emit('setactive', el.id)"
                          >
                              <div class="filter-sublist-item-icon"></div>
                              <span class="filter-sublist-item-text">{{el.name}}</span>
                          </div>
                    </div>
                </transition>

            </div>

        </div>
        <div class="filter-header">Industries</div>
        <div class="w-100">
            <div
                class="filter-item"
                v-for="item in industries"
                :key="item.id"
            >
                <label class="checkbox-container">{{item.name}}
                    <input type="checkbox" :id="item.id" :value="item.id" v-model="filterqueryparamfilter">
                    <span class="checkmark"></span>
                </label>
            </div>

        </div>
    </div>

</template>

<script>
    export default {
        props:[
            'categories',
            'industries',
            'hasChildren',
            'industryActive',
            'filterqueryParamFilter',
            'freshCounter',
            'iconsNewUrl',
            'iconsStarUrl',
            'iconsArticlesUrl',
            'iconsNewsUrl',
            'iconsLampUrl',

        ],
        data: function () {
            return  {
                filterqueryparamfilter : this.filterqueryParamFilter
            }
        },
        mounted() {
            // console.log('mounted', this.filterqueryparamfilter)

        },
        watch:{
            filterqueryparamfilter:{
                deep: true,
                handler: function (newValue, oldValue) {
                    console.log('in filter', newValue)
                    this.$emit('update:filterqueryParamFilter', newValue)
                },
            },
            filterqueryParamFilter:{
                deep: true,
                handler: function (newValue, oldValue) {
                    console.log('ttt', newValue)
                    this.filterqueryparamfilter = newValue
                },
            },
        }
    }
</script>
