<template>
    <div>
        <!-- <button class="like-btn" v-on:click="addLike" v-bind:disabled="likeDisabled" >LIKE!</button> -->

        <img
            class="banner-info-icon-clickable"
            width="15px"
            v-bind:src="iconsHeartUrl"
            v-on:click="addLike"
            v-if="!likeDisabled"
            >

        <img
            class="banner-info-icon"
            width="15px"
            v-bind:src="iconsHeartClickedUrl"
            v-if="likeDisabled"
            >

    </div>

</template>

<script>
    export default {
         props: [
             'item',
             'type',
             'iconsHeartUrl',
             'iconsHeartClickedUrl',
         ],
         data: function () {
             return {
                 likeDisabled:false,
                 url:"/api/likes/",
             }
         },
         mounted: function(){
         },
         methods:{
             addLike:function(){
                 axios({
                     method: 'post',
                     url: this.url,
                     data: {
                         id: this.item.id,
                         type: this.type
                     },
                 })
                 .then(response => {
                     this.item.likes = response.data.total
                     this.likeDisabled = true
                 })
                 .catch(response => {
                     console.log('error!', response);
                 })
             },
         },
     }
</script>
