<template>
    <div class="postedit-container">


        <div class="postedit-control-buttons" v-if="editable">
            <button class="btn btn-dark btn-sm" type="button" v-on:click="isEditmode  = !isEditmode">
                <span v-show="isEditmode"><i class="fas fa-eye"></i></span>
                <span v-show="!isEditmode"><i class="fas fa-pencil"></i></span>
            </button>
            <button class="btn btn-dark btn-sm" type="button" v-on:click="$emit('moveup')" v-show="data.order !== 0 && !isEditmode"><i class="fas fa-arrow-alt-up"></i></button>
            <button class="btn btn-dark btn-sm" type="button" v-on:click="$emit('movedown')" v-show="data.order !== (pagelenght-1)  && !isEditmode"><i class="fas fa-arrow-alt-down"></i></button>
            <button class="btn btn-success btn-sm" type="button" v-on:click="$emit('addblock')" v-show="!isEditmode"><i class="fas fa-plus"></i></button>
            <button class="btn btn-danger btn-sm" type="button" v-on:click="$emit('deleteblock')" v-show="!isEditmode" ><i class="fas fa-trash-alt"></i></button>

        </div>


        <div  v-if="isEditmode" class="postedit-edit">
                <select  v-model="data.typeId" class="form-control postedit-edit-type" >
                    <option   v-for="type in types" v-bind:key="type.id"  v-bind:value="type.id">{{type.name}}</option>
                </select>
                <div v-if="data.typeId === 0"  style="background-color:white;">
                    <quill  @quillchange="quilltextChanged">
                        <div slot="content" v-html="data.content.text"></div>
                    </quill>
                </div>
                <div v-else-if="data.typeId === 1">
                    <input multiple type="file" accept="image/*" @change="imageUpload" />
                </div>
                <div v-else-if="data.typeId === 2">
                    <input class="form-control postedit-edit-imagedescription" type="text" v-model="data.content.imagedescription" placeholder="Подпись к картинке"/>

                    <input multiple type="file" accept="image/*" @change="imageUpload" />
                </div>
                <div v-else-if="data.typeId === 3">
                    <textarea class="form-control" v-model="data.content.text" rows="3"></textarea>

                </div>
                <div v-else-if="data.typeId === 4">
                    <textarea class="form-control" v-model="data.content.text" rows="3"></textarea>
                </div>
                <div v-else-if="data.typeId === 5">
                    <textarea class="form-control" v-model="data.content.text" rows="3"></textarea>
                </div>
                <div v-else>
                    Now you don't
                </div>
        </div>

        <div class="postedit-control" v-if="editable && !isEditmode"></div>




        <div
            class="postedit-content"
            v-if="!isEditmode"
        >
                <div v-if="data.typeId === 0">
                    <div v-html="data.content.text"></div>
                </div>
                <div v-else-if="data.typeId === 1">
                      <img   class="article" v-if="data.content.headerimage" :src="imageUrl" />
                </div>
                <div v-else-if="data.typeId === 2"  style="padding: 1px 0;">
                      <img   class="article-txt-image" v-if="data.content.headerimage" :src="imageUrl" />
                      <div class="article-txt-image-caption" v-if="data.content.imagedescription" v-html="data.content.imagedescription"></div>
                </div>
                <div v-else-if="data.typeId === 3">
                    <div class="article-txt-mark-1" v-html="data.content.text"></div>
                </div>
                <div v-else-if="data.typeId === 4">
                    <div class="article-txt-mark-2" v-html="data.content.text"></div>
                </div>
                <div v-else-if="data.typeId === 5">
                    <div class="article-video" v-html="data.content.text"></div>
                </div>
                <div v-else>
                    Now you don't
                </div>

        </div>



    </div>
</template>

<script>
    export default {
           props: [
               'data',
               'pagelenght',
               'editable'
           ],
           data: function () {
               return {
                   isVisible: false,
                   isEditmode: false,
                   types:[
                       {
                           id:0,
                           name: 'Text - main'
                       },
                       {
                           id:1,
                           name: 'Image -  Title'
                       },
                       {
                           id:2,
                           name: 'Image -  In  text'
                       },
                       {
                           id:3,
                           name: 'Text - mark italic '
                       },
                       {
                           id:4,
                           name: 'Text - mark red  line'
                       },
                       {
                           id:5,
                           name: 'Video'
                       },
                   ],
                   url:{
                       headerImage: "/api/imageupload",
                   },
               }
           },
           computed:{
               imageUrl: function(){
                   return  window.location.protocol + '//' +  window.location.host + '/storage/' + this.data.content.headerimage

               },
           },
           methods:{
               quilltextChanged:function(html, delta, oldDelta, source) {
                   this.data.content.text = html
                   // this.$emit('datachange', html);
               },
               imageUpload: function(e){
                    var formData = new FormData();
                    var imagefile = e.target.files[0];

                    formData.append("image", imagefile);

                    axios({
                        method: 'post',
                        url: this.url.headerImage,
                        data: formData,
                        headers: {
                          'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then(response => {
                        this.data.content.headerimage = response.data[0]
                        this.$emit('blockchange', this.data);
                    })
                    .catch(response => {
                        console.log('error!');
                    })

               },
           },

       }
</script>
