<template>
    <div class="">
        <div v-if="!thankYou">
            <div class="project-modal-header">
                <span>Subscribtion</span>
            </div>
            <form class=" d-inline w-100 subscribe-form">
                <input class="subscribe-field" v-bind:class="{error : isEmailError}" type="text" v-model="email" placeholder="Email address">
                <span>{{isEmailError}}</span>
            </form>
            <button class="project-modal-subscribe" v-bind:disabled="!btnActive" v-on:click="submitSubscription">
                <div v-if="loaderisVisible" class="spinner-grow text-light" role="status" style="position:absolute; left:10%; top: 20%;">
                    <span class="sr-only">Loading...</span>
                </div>
                <span>Subscribe</span>
            </button>
        </div>
        <div v-if="thankYou" class="subscribe-thanks">
            <div>Thank you!</div>

        </div>
    </div>
</template>

<script>
    export default {
      props: ['quizz',],
      data: function () {
          return {
              email: '',
              isEmailError: '',
              url: "/api/subscriptions",
              thankYou:false,
              btnActive: false,
              loaderisVisible: false,
          }
      },
      mounted: function(){
      },
      computed: {

      },
      methods:{
          validateEmail:function(mail){
              if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)){
                  return (true)
              }
              return (false)
          },
          submitSubscription:function(){
              this.btnActive = false
              this.loaderisVisible =true
                  axios({
                      method: 'post',
                      url: this.url,
                      data: {
                          email:this.email,
                      },
                  })
                  .then(response => {
                      this.thankYou = true
                  })
                  .catch(response => {
                      console.log('error!');
                  })
          },
      },
      watch:{
          email:_.debounce(function(newValue, oldValue){
              if(!this.validateEmail(newValue)){
                  this.isEmailError = "Wrong email!"
                  this.btnActive = false
              } else{
                  this.isEmailError = ''
                  this.btnActive = true
              }
          }, 500),
      },
    }
</script>
